.movie-list {
  &__content {
    background-color: $color-light-beige-1;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    
  }

  &__browser {
    width: 70%;
    display: table-cell;
    padding: 3rem 5rem;
  }

  &__create {
    width: 30%;
    vertical-align: middle;
    padding: 1rem 1rem;
    background-image: radial-gradient($color-light-beige-1, $color-grey-dark-3);
    

  }
}