.movie-list {
  &__content {
    background-color: $color-grey-light-2;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: 3px;
    display: table;
    overflow: hidden;

  }

  &__right {
    width: 60%;
    display: table-cell;
  }

  &__left {
    width: 40%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }
}